---
import Socials from './Socials.astro'
---

<footer class="flex justify-center items-center flex-col">
  <div class="text-center mb-4 text-lg text-slate-500 dark:text-slate-400">
&copy;2023 Idongesit Ntuk. All rights reserved.
  </div>
<Socials />
</footer>

