---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '@fontsource/ubuntu-mono';

const { pageTitle } = Astro.props;
---
<html lang="en" class="h-full scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="dark:bg-slate-800 h-full">
<svg
        class="hidden fixed transform right-0 top-5 z-0 xl:block text-slate-200 dark:text-slate-700 fill-current"
        width="404"
        height="784"
        fill="none"
        viewBox="0 0 404 784"
      >
        <defs>
          <pattern
            id="5d0dd344-b041-4d26-bec4-8d33ea57ec9b"
            x="0"
            y="0"
            width="20"
            height="20"
            patternUnits="userSpaceOnUse"
          >
            <rect
              x="0"
              y="0"
              width="4"
              height="4"
              fill="currentColor"
            />
          </pattern>
        </defs>
        <rect
          width="404"
          height="784"
          fill="url(#5d0dd344-b041-4d26-bec4-8d33ea57ec9b)"
        />
      </svg>
    <div class="p-8 h-full flex flex-col relative max-w-screen-lg mx-auto xs:p-24">
      <Header />
      <main class="py-20 flex-1">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
